<form action="/admin/register" method="POST">
  <input type="email" name="email" placeholder="Email">
  <input type="text" name="username" placeholder="Username">
  <input type="password" name="password" placeholder="Password">
  <input type="password" name="secret" placeholder="Secret">
  <button>Submit</button>
</form>