<div class="article">
  <h2 class="article__title">
    This is a blog post
  </h2>
  <h3 class="article__subtitle">
    And Here's why you Should Read it
  </h3>
  <p class="article__author">
    Written by: Kaden Zipfel
  </p>
  <p class="article__content">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
    Excepturi molestiae facere dolorum quos aut delectus a 
    vitae tempora consectetur commodi natus, et architecto 
    voluptatum corporis laboriosam cum alias dolore veritatis!
  </p>
</div>