<div class="container">
  <nav class="nav">
    <div class="nav__brand">
      <a href="/"><img src="/img/logo_white.png"></a>
    </div>
    <ul class="nav__right">
      <a href="#" class="nav__right__link"><li class="nav__right__item">Category 1</li></a>
      <a href="#" class="nav__right__link"><li class="nav__right__item">Category 2</li></a>
      <a href="#" class="nav__right__link"><li class="nav__right__item">Category 3</li></a>
      <a target="_blank" href="http://github.com/kadenzipfel"><i class="fab fa-github fa-2x nav__right__icon"></i></a>
    </ul>
  </nav>

  <nav class="mob-nav">
    <div class="mob-nav__brand">
      <a href="/"><img src="/img/logo_white.png"></a>
    </div>
    <i class="fas fa-bars fa-2x mob-nav__menu" id="nav-menu"></i>
    <i class="fas fa-times fa-2x mob-nav__x" id="close-nav"></i>
    <ul class="mob-nav__right">
      <a href="#" class="mob-nav__right__link"><li class="mob-nav__right__item">Category 1</li></a>
      <a href="#" class="mob-nav__right__link"><li class="mob-nav__right__item">Category 2</li></a>
      <a href="#" class="mob-nav__right__link"><li class="mob-nav__right__item">Category 3</li></a>
    </ul>
  </nav>
</div>