<% include partials/header %>

<div class="dark-bg">
  <% include partials/nav %>
</div>
<div class="container">
  <% include partials/article %>
</div>
<!-- Other articles you may like -->

<% include partials/footer %>